.navLink {
    background-color: white;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-family: "Raleway";
    font-weight: 400;
    font-size: 16px;

}

.active {
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    color: #5ECE7B;
    font-family: "Raleway";
    padding-bottom: 15px;
    border-bottom: 1px solid #5ECE7B;
}