.navLink {
    outline: none;
    text-decoration: none;
    color: black;
    font-family: "Raleway";
    margin-right: 30px;
}

.active {
    outline: none;
    text-decoration: none;
    color: #5ECE7B;
    font-family: "Raleway";
    padding-bottom: 15px;
    border-bottom: 1px solid #5ECE7B;
    margin-right: 30px;
}