.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 120px;
    height: 70px;
    z-index: 100;
    background-color: white;
}

.dropDown {
    outline: none;
    text-decoration: none;
    border: none;
}

.quantity {
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 13px;
    font-family: Raleway;

    top: 18px;
    right: -10px;
}