.wrapper {
    max-width: 1050px;
    margin-top: 60px;
    border-top: 1px solid #E5E5E5;
    font-family: Raleway;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*======productAttributes======*/

.productAttributes {
    margin-top: 20px;
}

.brand {
    font-size: 30px;
    font-weight: 500;
}

.name {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 300;
}

.price {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 700;
}

.attributes {
    margin-top: 20px;
    display: flex;


}

.attributes div {
    font-family: Raleway;
    margin-right: 12px;
    width: 63px;
    height: 45px;
    display: flex;

    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    border: 1px solid black;
}


/*======productAssets======*/

.productAssets {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.changeQuantity {
    height: 185px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.changeQuantity button {
    width: 45px;
    height: 45px;
    background-color: white;
    color: black;
    border: 1px solid black;

    cursor: pointer;
    transition: .3s;
}

.changeQuantity button:active {
    background-color: black;
    color: white;
}

.imgs {
    position: relative;
}

.imgs img {
    margin-left: 10px;
    width: 141px;
    height: 185px;
    display: block;
    object-fit: contain;
}
