* {
    box-sizing: border-box;
}

.popup button {
    width: 24px;
    height: 24px;
    margin: 0 auto;
    padding: 3px;
    font-family: Raleway;
    text-transform: uppercase;
    border: 1px solid black;
    cursor: pointer;
}

/*CARD*/

.card {
    display: flex;
    justify-content: space-between;
    font-family: Raleway;
    margin-bottom: 45px;
}

.card img {
    width: 40%;
    height: 120px;
    display: block;
    object-fit: contain;
}

.brand, .name {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 5px;
}

.name {
    margin-bottom: 8px;
}

.price {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 27px;
}

.attributes {
    display: flex;
    align-items: flex-start;
}

.attributes div {
    width: 24px;
    height: 24px;
    padding: 3px;
    font-family: Raleway;
    border: 1px solid black;
    margin-left: 7px;
}

.quantityChange {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.quantityChange button {
    background-color: white;
    border: 1px solid black;
    transition: .3s;
}

.quantityChange button:active {
    background-color: black;
    color: white;
    opacity: .6;
}
