.dropDown {
    outline: none;
    text-decoration: none;
    border: none;

    cursor: pointer;
    font-family: "Raleway";
    font-size: 20px;
    font-weight: normal;
}

.category {
    font-family: "Raleway";
    font-size: 25px;
    font-weight: normal;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10vh;
}
